@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body{
    font-family: Raleway;
	margin: 0;
	padding: 0;
}

#main{
    margin-top: 100px;
	margin-bottom: 100px;
}

/*IMAGEN Y TEXTO SOBRE IMAGEN*/

.sectionImg{
    background-image: url('https://images.unsplash.com/photo-1510172951991-856a654063f9?q=80&w=2362&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: 0px 1300px;
    display: flex;
    align-items: center;
  }
  
  .divTexto{
    margin-top: 650px;
    margin-left: 50px;
    color: black;
    font-size: 110px;
    font-weight: bold;
  }

/* CONTENEDOR */

.contenedor{
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #DDC5B3;
    border-radius: 30px;
    margin-bottom: 100px;
}

h2{
    text-align: center;
}

.labelSelect{
    margin-left: 12rem;
}

select {
	padding: 0.8rem 1.2rem;
	border: solid 1px #d0cccc;
	margin-bottom: 1.2rem;
    margin-left: 0.5rem;
	outline: none;
	border-radius: 0.75rem;
	transition: box-shadow 200ms ease-out;
    font-size: 1rem;
}

select:focus,
select:active {
	box-shadow: 0 0 0 0.25rem rgba(43, 153, 255, 0.5);
}

label {
	margin-bottom: 0.7rem;
}

.loader{
    display: grid;
    justify-items: center;
}

.mostrarListaLibros{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.section3{
    display: grid;
    justify-content: center;
    margin: 2% 0;
}


/* CARDS */
.item {
	background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px #DDC5B3;
	width: calc(100% - calc(4.8rem * 2));
	max-width: 480px;
	padding: 2.1rem;
	margin-bottom: 2.2rem;
	display: flex;
	flex-direction: column;
	border-radius: 1.7rem;
	box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
	transform: translateY(-1rem);
	backdrop-filter: blur(1.5rem);
}

.item:last-child {
	margin-bottom: 0.5rem;
}

.item h3 {
	font-size: 1.5rem;
	font-weight: bold;
	height: 2.8rem;
	margin-bottom: 0.5rem;
}

.item figure {
	width: 100%;
	display: flex;
    margin: 0;
	justify-content: center;
	overflow: hidden;
}

.item figure img {
	height: 320px;
	display: block;
	border-radius: 1.5rem;
}

.description {
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.623);
	width: calc(100% - calc(2.8rem * 2));
	height: 320px;
	line-height: 1.75rem;
	padding: 2.0rem;
	position: absolute;
	top: calc(2.3rem + 3.0rem);
	left: 2.8rem;
	overflow: auto;
	opacity: 0;
	border-radius: 1.5rem;
	transition: opacity 200ms ease-out;
    font-size: 1.5rem;
}

.item figure:hover + .description,
.description:hover {
	opacity: 1;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.item button {
	width: 80%;
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	text-shadow: 0 -1px #ffc233;
    background-image: linear-gradient(to right top, #e6d9d0, #e4d4c9, #e2cfc1, #dfcaba, #ddc5b3);
	padding: 1.2rem;
	border: solid 1px #E6D9D0;
	outline: none;
	border-radius: 2.5rem / 50%;
	transition: filter 500ms ease-out;
}

.item button:hover {
	filter: brightness(90%);
}

.item button:active {
	filter: brightness(80%);
}

.special {
	margin-bottom: 0rem;
}

/*BOTON FINALIZAR COMPRA*/

.btn {
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em !important;
    display: inline-block;
    border-radius: 2em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: #ddc5b3;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn::after {
	background-color: white;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.swal2-confirm{
	background-color: #ddc5b3 !important;
}
.swal2-cancel{
    background-color: #B9B9B9 !important;
}


/*LOADER*/

.dot-spinner {
	--uib-size: 2.8rem;
	--uib-speed: .9s;
	--uib-color: #183153;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: var(--uib-size);
	width: var(--uib-size);
  }
  
  .dot-spinner__dot {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
  }
  
  .dot-spinner__dot::before {
	content: '';
	height: 20%;
	width: 20%;
	border-radius: 50%;
	background-color: var(--uib-color);
	transform: scale(0);
	opacity: 0.5;
	animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
	box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
	transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
	animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
	transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
	animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
	transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
	animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
	transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
	animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
	transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
	animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
	transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
	animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
	transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
	animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
	0%,
	100% {
	  transform: scale(0);
	  opacity: 0.5;
	}
  
	50% {
	  transform: scale(1);
	  opacity: 1;
	}
  }

  /*MEDIA QUERIES*/

/*390 x 844*/

@media only screen and (min-width: 390px) and (max-height: 844px)  {

	/*HEADER IMAGEN*/
    .sectionImg {
    	height: 600px; 
		background-position: 0;
    }

    .divTexto {
		margin-bottom: 120px;
        margin-left: 20px;
    	font-size: 45px;
    }

	/*SECCION CONTENEDOR*/
	.contenedor {
        width: 90%; 
        padding: 10px;
        border-radius: 15px; 
    }

    h2 {
        font-size: 1.5rem;
    }

    .labelSelect {
		margin: 10px 0px;
    }

    select {
        padding: 0.6rem; 
        font-size: 0.875rem; 
        margin-left: 0; 
    }

    label {
        margin-bottom: 0.5rem;
    }

    .loader {
        justify-items: center;
    }

    .mostrarListaLibros {
        grid-template-columns: 1fr; 
        margin-top: 1%; 
    }

    .section3 {
        margin: 1% 0;
    }

	/*CARDS*/

	.item {
        width: 100%; 
        padding: 1rem; 
        margin-bottom: 1rem; 
        max-width: none; 
    }

    .item h3 {
        font-size: 1.25rem; 
        height: auto; 
    }

    .item figure img {
        height: auto;
        max-width: 100%;
    }

    .buttonDiv {
        margin-top: 2%; 
    }

    .item button {
        width: 100%; 
        font-size: 1rem; 
        padding: 0.8rem; 
        border-radius: 1rem;
		margin: 10px 0px;
    }

	/*BOTON FINALIZAR*/
	.btn {
        font-size: 16px; 
        padding: 0.8em 2em; 
        border-radius: 1.5em;
    }

    .btn::after {
        border-radius: 50%; 
    }
}

/*844px y 1440px */
@media only screen and (min-width: 844px) and (max-width: 1440px) {

  .sectionImg{
    background-position: 0px -1000px;
  }

  .mostrarListaLibros {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-items: center;
  }

  .item {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px #DDC5B3;
    width: calc(100% - calc(4.8rem* 2));
    max-width: 480px;
    padding: 2.1rem;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.7rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem);
    backdrop-filter: blur(1.5rem);
  }

  .item figure {
    width: auto;
    height: 507px;
    display: flex;
    margin: 0;
    justify-content: center;
    overflow: hidden;
  }

  .card {
      width: 90%; 
      max-width: 350px; 
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card img {
      width: 100%; 
      border-radius: 10px;
      height: auto; 
  }

  .card h3 {
      font-size: 1.2rem;
      margin: 10px 0;
      text-align: center;
  }

  .card p {
      font-size: 1rem;
      margin: 5px 0;
      text-align: center;
  }

  .card button {
      background-color: #e3b6b1b5;
      border: none;
      padding: 10px 20px;
      color: white;
      font-size: 1rem;
      border-radius: 30px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s ease;
      width: 80%;
      margin: 0 auto; 
  }

  .card button:hover {
      background-color: #bf8e9f;
  }
}

/*1440 x 900 */
@media only screen and (min-width: 1440px) and (max-height: 900px){
	.sectionImg{
		background-position: 0px 1100px;
	}
}
